@font-face {
	font-family: Barkentina;
	src: url('../fonts/Barkentina 1.eot');
	src: local('☺'), url('../fonts/Barkentina 1.woff') format('woff'), url('../fonts/Barkentina 1.ttf') format('truetype'), url('../fonts/Barkentina 1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: GothamPro;
	src: url('../fonts/GothamProRegular.eot');
	src: local('☺'), url('../fonts/GothamProRegular.woff') format('woff'), url('../fonts/GothamProRegular.ttf') format('truetype'), url('../fonts/GothamProRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: GothamPro;
	color: #484848;
	background: #E5E5E5;
}
button{
	cursor: pointer;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.header{
	background: url(../img/bg1.png) no-repeat;
	padding-top: 45px;
	padding-bottom: 300px;
}
.menu__list{
	justify-content: space-around;
	align-items: center;
}
.menu__list a{
	font-size: 22px;
	color: #484848;
	color: #484848;
	list-style: height 21px;
}
.menu__tel{
	padding: 16px 29px 16px 19px;
	background: #FFFFFF;
	border-radius: 60px;
	    font-size: 28px;
    font-weight: bold;
}
.img{
	background: #FFCAD4;
	width: 63px;
	height: 63px;
	   border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 63px;
    margin-right: 17px;
}
ul{
	margin-bottom: 0;
}
h1{
	font-family: Barkentina;
	font-size: 110px;
	line-height: 100px;
	text-transform: uppercase;
	color: #484848;
	max-width: 540px;
}
h1 .size{
	font-size: 80px;
}
.header p{
	font-size: 24px;
	line-height: 200%;
	text-transform: capitalize;
	color: #484848;
	max-width: 760px;
} 
.reg{
	padding: 25px 0 14px;
	max-width: 507px;
	background: linear-gradient(91.91deg, #FFFFFF 14.63%, #EBEBEB 67.49%, #D8D8D8 114.14%);
	box-shadow: 0px 6px 0px #C4C4C4;
	border-radius: 15px;
	text-align: center;
	margin-top: 31px;
	font-family: Barkentina;
	font-size: 30px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	color: #484848;
	display: block;
	cursor: pointer;
}
.reg:hover{
	color: #484848;
}
.header__items{
	max-width: 305px;
	padding: 12px;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	margin-bottom: 21px;

}
.header__item{
	width: 281px;
	height: 85px;
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 23px;
	text-transform: uppercase;
	color: #484848;
	display: flex;
	align-items: center;
}
.header__item img{
	margin-left: 11px;
}
.to{
	margin-top: 175px;
}
.fl{
	display: flex;
	flex-direction: column;
	align-items: end;
}
.main{
	padding-top: 110px;
}
.main h2{
	text-align: center;
	font-family: Barkentina;
	font-style: normal;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	color: #484848;
	margin-bottom: 90px;

}
.main__items{
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.main__items sup{
	font-weight: 900;
	font-size: 64px;
	line-height: 61px;
	text-transform: lowercase;
	color: #F2F2F2;
	position: absolute;
	top: 10%;
	left: -4%;
}
.main__items p{
	font-size: 21px;
	line-height: 40px;
	margin: 0 41px 0 20px;
}
.main__items button{
	background: linear-gradient(91.91deg, #FFFFFF 14.63%, #EBEBEB 67.49%, #D8D8D8 114.14%);
	box-shadow: 0px 6px 0px #C4C4C4;
	border-radius: 10px;
	font-family: Barkentina;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	border: none;
	padding: 15px 25px;
	cursor: pointer;
	position: relative;
	z-index: 6;
}
.bg-img{
	background: url(../img/bg-img.png) no-repeat center center;
	width: 121px;
	height: 126px;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	line-height: 121px;
	position: relative;
}
.white{
	position: absolute;
    top: -71px;
    left: -73px;
	z-index: 30;
	display: block;
}
.im{
	position: relative;
	z-index: 50;
}
.wrap{
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 30px;
}
.border1{
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	padding-left: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}
.strix_wrap{
	margin-top: 40px;
	margin-left: 13%;
}
.white__reg{
	padding: 15px;
	max-width: 415px;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	margin-bottom: 30px;

}
.border__reg{
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	background: url(../img/barcode.png) no-repeat;
	background-position: center 23px;
	max-width: 385px;
}
.border__reg button{
	border: none;
	padding: 10px 20px;
	margin: 108px auto 31px;
}
.img-reg{
	display: flex;
	align-items: center;
}
.img-reg img{
	margin-right: 25px;
}
.non{
	margin: 0;
	font-family: Barkentina;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}
.absol{
	position: absolute;
	right: -23%;
    top: -16%;
}
.absol img{
	max-width: 100%;
}
.very{
	padding-top: 120px;
}
.very h2{
	text-align: center;
	font-family: Barkentina;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
}
.white__bg{
	padding: 15px;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	max-width: 370px;
}
.border__bg{
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 20px;
	max-width: 344px;
	min-height: 263px;
	text-align: center;
	padding-top: 203px;

}
.border__bg p{
	font-family: Barkentina;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}
.border__bg1{
	background: url(../img/img1.png) no-repeat;
	background-position: center 5%;
}
.border__bg2{
	background: url(../img/img2.png) no-repeat;
	background-position: center 5%;
}
.border__bg3{
	background: url(../img/img3.png) no-repeat;
	background-position: center 5%;
}
.slider{
	margin-top: 52px;
	position: relative;
}

.slick-arrow{
	font-size: 0;
	position: absolute;
	top: 50%;
	width: 22px;
	height: 22px;
	border:none;
	margin-top: -41px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	background: url(../img/right.png) no-repeat;
	transform: rotate(180deg);
	left: -5%;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	background: url(../img/right.png) no-repeat;
	right: -5%;
}
.slick-arrow.slick-disabled{
	opacity: 0.5;
}

.slick-dots{
	display: flex;
	justify-content: center;
	font-size: 0;
	margin-top: 52px;
}
.slick-dots li{

}
/* Активная точка */
.slick-dots li.slick-active button{
	background: #FFCAD4;
}
/* Элемент точки */
.slick-dots li button{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #F0F0F0;
	margin-right: 30px;
	border: none;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	justify-content: space-around;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */

.was{
	padding-top: 100px;
	padding-bottom: 150px;
}
.was h2{
	font-family: Barkentina;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.lorems{
	display: flex;
	justify-content: space-around;
	margin-top: 190px;
}
.lorem{
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 10px;
	max-width: 281px;
	position: relative;
}
.lorem__br{
	border: 1px solid #E0E0E0;
	border-radius: 10px;
	padding: 25px 16px;
	text-align: center;
}
.lorem__br h3{
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 17px;
}
.lorem__br p{
	font-size: 16px;
	line-height: 200%;
}
.img__top{
	position: absolute;
	top: -40%;
	left: -2%;
	background: url(../img/50.png) no-repeat top;
	font-weight: bold;
	font-size: 70px;
	line-height: 67px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 290px;
	height: 240px;
	z-index: -2;
	padding-top: 45px;
}
.thirty{
	padding-top: 120px;
	padding-bottom: 68px;
	background: url(../img/bg_3.png) no-repeat;
	position: relative;
	overflow: hidden;
}
.year span{
	font-family: Barkentina;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	margin-left: 20px;
}
.year{
	display: flex;
	align-items: center;
	margin-bottom: 63px;
	position: relative;
	z-index: 3;
}
.item__bg{
	background: url(../img/hz.png) no-repeat center center;
	position: relative;
	width: 187px;
	height: 192px;
	text-align: center;
	margin: 0 auto;
}
.item__img1{
	position: absolute;
	display: block;
    left: -21%;
    top: -22%;
    display: block;
    width: 270px;
    height: 270px;

}
.item__img2{
	display: block;
	position: absolute;
    left: 34%;
    top: 29%;
	width: 64px;
	height: 64px;
}
.thirty__items{
	display: flex;
	margin-top: 72px;
	margin-bottom: 70px;
	position: relative;
	z-index: 3;
}
.therty__item{
	margin-right: 133px;
	max-width: 243px;
}
.therty__item p{
	font-size: 24px;
	line-height: 23px;
	text-align: center;
	margin-top: 30px;
}
.bgs{
	background: url(../img/bgs.png);
}
.thirty__year{
	padding: 20px;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	max-width: 739px;
	margin-top: 92px;
	position: relative;
	z-index: 3;
}
.thirty__br{
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	padding: 25px;
}
.thirty__br p{
	font-size: 30px;
	line-height: 40px;
}
.girl{
	position: absolute;
	right: 2%;
	bottom: 0;
}
.light {
    width: 0;
    height: 600px;
    position: absolute;
    left: 24%;
    top: 42%;
    z-index: 1;
    box-shadow: 0 0 219px 431px #fff;
}

.win{
	padding-top: 133px;
}

.win__bg{
	padding: 28px;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	max-width: 1171px;
	margin: 0 auto;
}
.win__border{
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	text-align: center;
}
.forms{

}
.forms input{
	padding-top: 37px;
	padding-bottom: 32px;
	padding-left: 33px;
	width: 485px;
	font-size: 24px;
	line-height: 23px;
	text-transform: capitalize;
	color: #ACACAC;
	background: #FFFFFF;
	box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.05);
	margin-bottom: 28px;
	border-radius: 15px;
	border: none;
	display: block;
}
.win__border h3{
	margin-top: 73px;
	font-family: Barkentina;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.forms{
	display: flex;
	flex-wrap: wrap;
}
.forms input:nth-child(1),
.forms input:nth-child(3){
	margin-left: 62px;
	margin-right: 28px;
}
.win__border p{
	font-size: 30px;
	line-height: 49px;
	text-align: center;
	max-width: 777px;
	margin: 60px auto;
}
.win__border button{
	background: linear-gradient(91.91deg, #FFFFFF 14.63%, #EBEBEB 67.49%, #D8D8D8 114.14%);
	box-shadow: 0px 6px 0px #C4C4C4;
	border-radius: 15px;
	font-family: Barkentina;
	font-size: 30px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	border: none;
	padding: 25px 40px;
	margin-bottom: 77px;
}
.footer{
	padding-top: 63px;
	padding-bottom: 73px;
}
.footer__flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.promo{
	font-size: 20px;
	line-height: 19px;
}
.politic{
	font-size: 20px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #A9A9A9;
}
.yyy{
	display: none;
}

.slider2{
	display: none;
}


@media (max-width: 992px) {
	.slider2{
		display: block;
	}
	.qwe{
		display: none;
	}
	.footer__flex .politic{
		font-size: 19px;
	}
	.footer__flex{
		flex-direction: column;
	}
	.footer__flex .promo{
		margin: 20px 0;
	}
	.menu__tel{
		display: none;
	}
	.menu__list{
		padding-left: 0;
		justify-content: space-between;
		margin-top: 30px;
	}
	.yyy{
		display: block;
		width: 61px;
		height: 61px;
		border-radius: 50%;
		background: #f5afbc;
		text-align: center;
		display: flex;
		align-items: center;
		margin-right: 1%;
	}
	.headel__tel-md{
		background: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		text-align: center;
		margin: 0 auto;
	    line-height: 45px;
	}
	.gg{
		justify-content: space-between;
	}
	h1{
		font-size: 72px;
		line-height: 88px;
		margin-right: 0;
		text-align: center;
		margin: 0 auto;

	}
	h1 .size{
		font-size: 55px;
		line-height: 0;
		text-align: center;
	}
	.to{
		margin-top: 30px;
		position: relative;
	}
	.fl{
		position: absolute;
		left: 0;
		top: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.header__item span{
		font-size: 13px;
	}
	.header__item img{
		margin-left: 0;
	}
	.header__items{
		max-width: 350px;
	}
	.header__item {
    width: 200px;
	}
	.header p {
		margin-top: 200px;
}

.item__bg{
	width: 120px;
	height: 110px;
	border-radius: 50%;
}
.therty__item {
    margin-right: 10px;
    max-width: 228px;
}
.therty__item p{
	font-size: 19px;
}
.item__img1 {
	display: none;
}
.item__img2 {
    display: block;
    position: absolute;
    left: 30%;
    top: 29%;
    width: 47px;
    height: 42px;
}
.thirty__items{
	justify-content: center;
}
.year{
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.year span{
	margin-left: 0;
	margin-top: 10px;
}

}

@media screen and (max-width: 450px) {
	.item__bg{
	width: 80px;
	height: 80px;
}
.item__img2 {
    width: 30px;
    height: 30px;
}
.therty__item p{
	font-size: 15px;
}
}



@media screen and (max-width: 1200px) {
	.thirty__br p{
		text-align: center;
	}
	.absol img{
		display: none;
		height: 0;
		width: 0;
	}
	.main__items {
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    position: relative;
	}
	.bg-img{
		margin: 0 auto;
	}
	.main__items button{
		margin: 20px auto 40px;
	}
	.border1{
		padding-left: 0;
	}
	.main__items p{
		margin: 0;
	}
	.main__items sup {
    top: -2%;
    left: 5%;
	}
	.strix_wrap{
		margin-left: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.border__reg button{
		font-size: 1.5em;
	}
	.border1{
		border: 0 ;
	}
	.border__reg{
		padding: 0 10px;
	}
	.white__reg{
		padding: 0;
	}
	.very h2{
		font-size: 45px;
	}
	.non{
	font-size: 19px;	
}

}
@media screen and (max-width: 1399px){
	.forms input:nth-child(1), .forms input:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
	}
	.forms{
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 767px) {
	.forms input{
		font-size: 15px;
		max-width: 280px;
		padding-left: 5px;
	}
	.win__border h3 {
		font-size: 30px;
	}
		.win__border{
		border: 0;
	}
		.win__border p {
		font-size: 23px;
		margin-top: 5px;
	}
	.win__border button{
		font-size: 20px;
	}
}
@media (max-width: 380px){
		.forms input{
		font-size: 14px;
		max-width: 250px;
	}
		.win__border h3 {
		font-size: 23px;
	}
	.win__border button{
		padding: 18px;
		font-size: 18px;
	}


}